<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default green">
    <div class="panel-heading text-center green">
      <h3>Triple C Events</h3>
    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default yellow">
    <div class="panel-heading text-center yellow">
      <h3>BESC 2015</h3>
    </div>
    <div class="panel-body text-center yellow">
      <p>
        Performance Horse Show
      </p>
      <p>
        <%= link_to "See Flyer", "http://www.triplecpleasurehorses.com/pdf/besc_2015_7.pdf" %>
      </p>
    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default yellow">
    <div class="panel-heading text-center yellow">
      <h3>May 16th</h3>
    </div>
    <div class="panel-body text-center yellow">
      <p>
        Funday Playday
      </p>
      <p>
        <%= link_to "See Flyer", "http://www.triplecpleasurehorses.com/images/events/may-playday-2015.jpg" %>
      </p>
    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default yellow">
    <div class="panel-heading text-center yellow">
      <h3>May 30th</h3>
    </div>
    <div class="panel-body text-center yellow">
      <p>
        Cow Sorting Clinic w/ Casey Park
      </p>
      <p>
        <%= link_to "See Flyer", "http://www.triplecpleasurehorses.com/images/events/cow-sorting.jpg" %>
      </p>
    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default yellow">
    <div class="panel-heading text-center yellow">
      <h3>July 15/16</h3>
    </div>
    <div class="panel-body text-center yellow">
      <p>
        De-Spooking Clinic
      </p>
      <p>
        <%= link_to "See Flyer", "http://www.triplecpleasurehorses.com/images/events/despooking.jpg" %>
      </p>
    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default yellow">
    <div class="panel-heading text-center yellow">
      <h3>2015</h3>
    </div>
    <div class="panel-body text-center yellow">
      <p>
        Triple C Buckle Series
      </p>
      <p>
        <%= link_to "Results Spreadsheet", "http://www.triplecpleasurehorses.com/pdf/sorting-0115.xlsx" %>
      </p>
    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default green">
    <div class="panel-heading text-center green">
      <h3>Guided Trail Rides</h3>
    </div>
    <div class="panel-body text-center green">
      <p>
        Guided trail rides are 2- 3 hours in length and $150.00 per person. Riders must wear helmets, no children under age of 10. Must be physically able to mount the horse from a mounting block and follow directions. Minimum of two guests, max of four. Weight limit 200lbs. Ride at your own risk. Horse back riding is a potentially hazardous activity.
      </p>
      <p>
        We will follow a beautiful trail up highway 410 outside of Enumclaw where we will embark upon a secluded lake or water fall. This is a good spot to eat lunch (not provided). We will carry your food and drink in our saddle bags. Please dress in layers.
      </p>
      <p>
        If you would like to have a lesson prior to hitting the trail, we suggest that it is a week prior in our indoor arena.
      </p>
    </div>
  </div>
</div>
