
<div class="col-md-9 col-md-offset-2">
  <div id="mainslider" class="flexslider yellow">
    <ul class="slides">
      <% 37.times do |i| %>
        <li data-thumb=<%= "/assets/main/main-#{i + 1}.jpg" %>>
          <%= image_tag("/assets/gallery/#{i + 1}.jpg", alt: "horse") %>
        </li>
      <% end %>
      <!-- <li data-thumb="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRrhixizH3096IlT9Vj7wZwqWTUYfrfvmndYufb3KAS2rTx_pSYdw">
        <%= image_tag("http://www.crackerboxpalace.org/wp-content/uploads/2016/04/Blind-Horse-2.jpg", alt: "horse") %>
      </li>
      <li data-thumb="https://upload.wikimedia.org/wikipedia/commons/4/46/043_S%C3%A6var_fr%C3%A1_Stangarholti.jpg">
        <%= image_tag("http://cdn.thehorse.com/images/cms/2013/11/chestnut-horse-conformation-shot.jpg?preset=medium", alt: "horse") %>
      </li>
      <li data-thumb="http://cdn.thehorse.com/images/cms/2013/11/chestnut-horse-conformation-shot.jpg?preset=medium">
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/4/46/043_S%C3%A6var_fr%C3%A1_Stangarholti.jpg", alt: "horse") %>
      </li>
      <li data-thumb="http://www.crackerboxpalace.org/wp-content/uploads/2016/04/Blind-Horse-2.jpg">
        <%= image_tag("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRrhixizH3096IlT9Vj7wZwqWTUYfrfvmndYufb3KAS2rTx_pSYdw", alt: "horse") %>
      </li> -->
    </ul>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default green">
    <div class="panel-heading text-center green">
      <h3>Triple C Pleasure Horses</h3>
    </div>
    <div class="panel-body text-center green">
      <p>
        At Triple C, we want each rider and boarder to feel comfortable with their surroundings as well as with their horse. This is part of the process of making your horse feel comfortable and be understood by its riders.
      </p>
      <p>
        We offer pasture and stall boarding as well as lessons for beginning to intermediate riders. We have an indoor arena to better suit the cold weather and future events of our riders. We also offer trail rides, western pleasure, trail experience and halter breaking.
      </p>
      <p>
        We specialize in matching horses with riders, we can work with you to find the perfect horse for you or the perfect rider for your horse!
      </p>
      <p>
        Feel free to contact us with any questions about any of the services we provide, or to schedule a visit to come check us out!
      </p>
    </div>
  </div>
</div>
