<!DOCTYPE html>
<html>
  <head>
    <title>TripleC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <!-- for FF, Chrome, Opera -->
    <link rel="icon" type="image/ico" href="../assets/favicon.ico" sizes="16x16">
    <link rel="icon" type="image/ico" href="../assets/favicon.ico" sizes="32x32">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <%= javascript_include_tag 'application' %>
      <%= javascript_include_tag 'jquery.flexslider' %>
      <%= stylesheet_link_tag    'flexslider'  %>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Home", root_path %>
            </li>
            <li>
              <%= link_to "Boarding", boarding_path %>
            </li>
            <li>
              <%= link_to "Lessons", lessons_path %>
            </li>
            <li>
              <%= link_to "Stallions", stallions_path %>
            </li>
            <li>
              <%= link_to "For Sale", forsale_path %>
            </li>
            <li>
              <%= link_to "Training", training_path %>
            </li>
            <li>
              <%= link_to "Photo Gallery", photogallery_path %>
            </li>
            <li>
              <%= link_to "Events", events_path %>
            </li>
            <li>
              <%= link_to "EFFRA", "http://effra.org" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col-md-7">
        <%= yield %>
      </div>

      <section class="col-md-3">
        <%= image_tag("/assets/tripleclogotrans.png", alt: "triple c logo", class: "logo") %>
        <div class="panel panel-default red">
          <div class="panel-heading text-center red">
            <h3>
              Triple C
              <br/>
              Latest News
            </h3>
          </div>
          <div class="panel-body text-center red">
            <p>
              Agreement reached to protect 43,000 acres of white River Forest land ...Way to go King county and EFFRA
            </p>
            <p class="red-space">
              <%= link_to("Visit Effra's Site", "http://effra.org", class: "panel-link red") %>
            </p>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <ul class="footer">
        <li>
          ©2016 - Triple C Pleasure Horses
        </li>
        <li>
          42829 244th Ave SE - Enumclaw, WA 98022
        </li>
        <li>
          253-569-4804
        </li>
        <li>
          Email: <%= link_to "Info", "mailto:info@triplecpleasurehorses.com" %> | <%= link_to "Webmaster", "mailto:webmaster@triplecpleasurehorses.com" %>
        </li>
        <li>
          <%= link_to "Twitter", "https://twitter.com/CCC_Horses" %> | <%= link_to "Facebook", "www.facebook.com/pages/Triple-C-Pleasure-Horses/161073940597199" %> | <%= link_to "Map", "g.co/maps/3rhfn" %>
        </li>
      </ul>
    </footer>
  </body>
</html>
